.card {
    margin: 60px auto;
    width: 600px;
}

form {
    width: 90%;
    margin: 0 auto;
}

.input-size {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

center {
    display: flex;
    justify-content: center;
    align-items: center;
}